<template>
    <p class="text-red-600" v-if="show">
        {{ message }}
    </p>
</template>
<script>
    export default {
        name: 'ErrorMessage',
        props: {
            show: Boolean,
            message: String
        }
    }
</script>
