<template>
    <button
            @click="$emit('click')"
            v-html="text"
            class="
                mb-8
                py-1
                px-3
                text-white
                bg-black
                rounded
                shadow-xl
                border
                hover:border-black
                hover:text-black
                hover:bg-white
            "
    >
    </button>
</template>

<script>
    export default {
        name: 'Button',
        props: {
            text: {
                required: true,
                type: String
            }
        }
    }
</script>
