<template>
    <div :class="{'bg-black':!isWhite, 'opacity-50':!active}" class="rounded select-none card relative border border-black p-4 shadow-xl w-40 h-64">
        <p :class="{'text-white':!isWhite}" class="text-sm" v-html="cleanDescription"></p>
        <div class="w-full absolute left-0 text-center bottom-0 mb-4">
            <card-logo class="mr-1 inline h-4 w-4" :is-white="isWhite"/>
            <span :class="{'bg-black text-white':isWhite,'bg-white text-black':!isWhite}" class="text-2xs p-1">Cards Against Humanity&trade;</span>
        </div>
    </div>

</template>
<script>
    import CardLogo from '../widgets/CardLogo';

    export default {
        name: 'Card',
        components: {
            'card-logo': CardLogo
        },
        props: {
            isWhite: Boolean,
            description: String,
            active: {
                default: true
            }
        },
        data() {
            let underscoreHtml = '<span class="border-b-2 border-white inline-block w-16 mr-2" style=""></span>'
            return {
                cleanDescription: this.isWhite ? this.description : this.description.replace(/_/g, underscoreHtml)
            }
        }
    }
</script>
