<template>
    <Transition name="fade">
        <div v-if="showing" v-bind:class="{'overflow-hidden': showing}" class="generic-modal-wrapper" @click.self="close">
            <div class="p-4 generic-modal">
                <a aria-label="close" class="cursor-pointer generic-modal-close" @click.prevent="close">×</a>
                <slot/>
            </div>
        </div>
    </Transition>
</template>

<style scoped>
    .fade-enter-active,
    .fade-leave-active {
        transition: all 0.4s;
    }

    .fade-enter,
    .fade-leave-to {
        opacity: 0;
    }
</style>

<script>
    export default {
        name: 'Modal',
        props: {
            showing: {
                required: true,
                type: Boolean
            }
        },
        methods: {
            close() {
                this.$emit('close')
            }
        }
    }
</script>
