.generic-modal-wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3;

  .generic-modal {
    position: absolute;
    width: 100%;
    background-color: white;
    max-width: 42rem;
    border-radius: 0.5rem;
    top: 20%;

    .generic-modal-close {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 20px;
      color: darkgrey;
      margin: 0.5rem 1.5rem;
    }
  }
}