<template>
    <div class="about">
        <p>
            Welcome! Now you've successfully registered a player name you can start playing!
            Please choose a game in progress from the list on the left hand side or use the
            menu on the right hand side to set up your own game.
        </p>
        <div class="flex">
            <div class="w-3/6">
                <game-search/>
            </div>
            <div class="w-3/6">
                <game-create/>
            </div>
        </div>
    </div>
</template>
<script>
    import GameSearch from '../components/GameSearch'
    import GameCreate from '../components/GameCreate'

    export default {
        name: 'Dashboard',
        components: {
            'game-search': GameSearch,
            'game-create': GameCreate
        }
    }
</script>
