<template>
    <div class="mt-20 mx-auto w-500 max-w-full text-center">
        <h1 class="text-2xl">
            <span class="p-1 bg-black text-white shadow-lg">{{game.name}}&trade;</span>
        </h1>

        <p class="mt-10">
            Welcome to the totally legit and licensed Cards Against Humanity&trade; web game.
            In order to play you need a player name, please enter one below.
        </p>

        <input
                @keyup.enter="submit"
                v-model="password"
                v-bind:class="{'animated shake border-red-600': errors.has('player_name')}"
                data-vv-as="password"
                class="outline-none text-center py-2 mt-5 w-4/5 shadow-lg border"
                type="password"
                name="player_name"
                placeholder="Insert player name here..."
        />
    </div>
</template>
<script>
    /* TODO: implement this component logic into a generic modal in the search component*/
    import axios from 'axios'

    export default {
        name: 'Join',
        data() {
            return {
                password: '',
                game: {}
            }
        },
        beforeMount(){
            let self = this

            axios.get('http://localhost:4000/games/'+this.$route.params.gameID)
                .then(function (response) {
                    let game = response.data.data.game

                    if(game.is_full){
                        alert('GAME FULL')
                    }

                    self.game = game
                })
                .catch(function () {
                    alert('SHIT ID')
                })
        },
        methods: {
            submit() {
            }
        }
    }
</script>