<template>
    <div class="mt-20 mx-auto w-500 max-w-full text-center">
        <h1 class="text-2xl">
            Welcome to
            <span class="p-1 bg-black text-white shadow-lg">Cards Against Humanity&trade;</span>
        </h1>

        <p class="mt-10">
            Welcome to the totally legit and licensed Cards Against Humanity&trade; web game.
            In order to play you need a player name, please enter one below.
        </p>

        <input
                @keyup.enter="submit"
                @keyup="sanitiseInput"
                v-model="userName"
                v-bind:class="{'animated shake border-red-600': errors.has('player_name')}"
                v-validate="validation"
                data-vv-as="player name"
                class="outline-none text-center py-2 mt-5 w-4/5 shadow-lg border"
                type="text"
                name="player_name"
                placeholder="Insert player name here..."
        />
        <error-message :show="errors.has('player_name')" :message="errors.first('player_name')"/>
    </div>
</template>
<script>
    import ErrorMessage from '../components/widgets/form-components/ErrorMessage'
    import SanitiseInput from '../mixins/SanitiseInput'
    import axios from 'axios'

    export default {
        name: 'Register',
        components: {
            'error-message': ErrorMessage
        },
        mixins: [
            SanitiseInput
        ],
        data() {
            return {
                userName: '',
                validation: {
                    required: true,
                    min: 3,
                    max: 10,
                }
            }
        },
        methods: {
            submit() {
                let self = this

                this.$validator.validateAll().then(res => {
                    res && axios.post('http://localhost:4000/users', {name: this.userName})
                        .then(function (response) {
                            localStorage.setItem('userId', response.data.data.userId)
                            localStorage.setItem('secret', response.data.data.secret)

                            self.$router.go()
                        })
                        .catch(function (error) {
                            self.errors.add(error.response.data.data.errors)
                        })
                })
            }
        }
    }
</script>