<template>
    <div class="relative">
        <div :class="{'opacity-50':awaitingResponse}">
            <div>
                <span>Game name:</span>
                <input
                        class="py-1 text-center outline-none placeholder-gray-400 text-gray-600"
                        type="text"
                        placeholder="Insert game name here"
                        name="name"
                        v-model="form_fields.name"
                        v-validate="validation.game_name"
                        data-vv-as="Game name"
                        v-bind:class="{'animated shake border border-red-600': errors.has('name')}"
                />
            </div>
            <div>
                <span>Password (leave blank for no password):</span>
                <input
                        v-model="form_fields.config.password"
                        class="py-1 text-center outline-none placeholder-gray-400 text-gray-600"
                        type="text"
                        placeholder="No password"
                        name="config.password"
                        v-validate="validation.password"
                        data-vv-as="Password"
                        v-bind:class="{'animated shake border border-red-600': errors.has('config.password')}"
                />
            </div>
            <div>
                <span>Max score:</span>
                <vue-select
                        @change="form_fields.config.max_score = $event"
                        :selected-option="form_fields.config.max_score"
                        :options="select_data.max_score"
                />
            </div>
            <div>
                <span>Max player count:</span>
                <vue-select
                        @change="form_fields.config.max_players = $event"
                        :selected-option="form_fields.config.max_players"
                        :options="select_data.max_players"
                />
            </div>
            <div>
                <span>Round time limit (leave 0 for no limit):</span>
                <vue-select
                        @change="form_fields.config.round_time_limit = $event"
                        :selected-option="form_fields.config.round_time_limit"
                        :options="select_data.round_time_limit"
                />
            </div>
            <div>
                <span>Game time limit (leave 0 for no limit):</span>
                <vue-select
                        @change="form_fields.config.game_time_limit = $event"
                        :selected-option="form_fields.config.game_time_limit"
                        :options="select_data.game_time_limit"
                />
            </div>
            <button
                    :disabled="awaitingResponse"
                    @click="createGame"
                    class="py-1 px-3 text-white bg-black rounded shadow-xl border hover:border-black hover:text-black hover:bg-white"
            >
                Create game
            </button>
        </div>
        <div v-if="awaitingResponse" class="absolute w-full h-full top-0">
            <div class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2">
                <fold :loading="awaitingResponse"></fold>
                <span class="loading font-bold text-lg text-shadow-xl">Creating game</span>
            </div>
        </div>
    </div>
</template>
<script>
    import VueSelect from './widgets/form-components/VueSelect'
    import SanitiseInput from '../mixins/SanitiseInput'
    import axios from 'axios'

    export default {
        name: 'GameCreate',
        components: {
            'vue-select': VueSelect
        },
        mixins: [SanitiseInput],
        data() {
            return {
                awaitingResponse: false,
                validation: {
                    game_name: {
                        required: true,
                        min: 3,
                        max: 10,
                    },
                    password: {
                        max: 10,
                    }
                },
                form_fields: {
                    name: '',
                    host: localStorage.getItem('userId'),
                    secret: localStorage.getItem('secret'),
                    config: {
                        password: '',
                        max_score: 0,
                        max_players: 3,
                        round_time_limit: 0,
                        game_time_limit: 0
                    },
                },
                select_data: {
                    max_score: {
                        0: 'Max score',
                        5: 5,
                        10: 10,
                        15: 15,
                        20: 20
                    },
                    max_players: {
                        0: 'Max players',
                        3: 3,
                        4: 4,
                        5: 5,
                        6: 6,
                        7: 7,
                        8: 8,
                        9: 9,
                        10: 10
                    },
                    round_time_limit: [
                        'Max round time(mins)',
                        1,
                        2,
                        3,
                        4,
                        5,
                        6,
                        7,
                        8,
                        9,
                        10,
                        11,
                        12,
                        13,
                        14,
                        15,
                        16,
                        17,
                        18,
                        19,
                        20
                    ],
                    game_time_limit: {
                        0: 'Max game time(mins)',
                        20: 20,
                        10: 10,
                        30: 30,
                        40: 40,
                        50: 50,
                        60: 60,
                        70: 70,
                        80: 80,
                        90: 90,
                        100: 100,
                        110: 110,
                        120: 120
                    }
                }
            }
        },
        methods: {
            createGame: function () {
                let self = this

                this.$validator.validateAll().then(res => {
                    if (res) {
                        self.awaitingResponse = !self.awaitingResponse

                        axios.post('http://localhost:4000/games', this.form_fields)
                            .then(function (response) {
                                localStorage.setItem('password', response.data.password)
                                self.$router.go()
                            })
                            .catch(function (error) {
                                error.response.data.data.errors.host && self.$router.go()
                                self.errors.add(error.response.data.data.errors)
                            })
                            .then(function () {
                                self.awaitingResponse = !self.awaitingResponse
                            })
                    }
                })
            }
        }
    }
</script>
