<template>
    <div class="about">
        <h1>GAME SEARCH</h1>
        <div class="pl-10">
            <div class="mb-5">
                <span class="mr-5 ">Filter by game name:</span>
                <input
                        v-model="filters.name"
                        class="py-1 text-center outline-none placeholder-gray-400 text-gray-600"
                        type="text"
                        placeholder="Insert game name here"
                />
            </div>
            <div class="mb-5 flex">
                <span class="mr-5">Filter by player count:</span>
                <vue-select
                        @change="filters.player_count = $event"
                        :selected-option="filters.player_count"
                        :options="player_count_select.options"
                />
            </div>
            <div class="mb-5 flex text-center">
                <span class="mr-5">Only show private games:</span>
                <vue-switch @change="filters.private = $event" :checked="filters.private"/>
            </div>
            <div class="mb-5 flex">
                <span class="mr-5">Only show open games:</span>
                <vue-switch @change="filters.only_open = $event" :checked="filters.only_open"/>
            </div>
        </div>
        <table class="table-auto w-full">
            <thead>
            <tr>
                <th class="px-4 py-2">Game Name</th>
                <th class="px-4 py-2">Players</th>
                <th class="px-4 py-2">Private</th>
            </tr>
            </thead>
            <tbody>
            <tr :key="index" v-for="(game,index) in games">
                <td class="border px-4 py-2">{{game.name}}</td>
                <td class="border px-4 py-2">{{game.player_count}}/{{game.max_players}}</td>
                <td class="border px-4 py-2">{{game.private? '&check;' : 'X'}}</td>
                <td class="border px-4 py-2">
                    <vue-button
                            text="Join game"
                            :disabled="game.max_players <= game.player_count"
                            @click="selectGame(game)"
                            :class="{'cursor-not-allowed opacity-50':game.max_players <= game.player_count}"
                    />
                </td>
            </tr>
            </tbody>
        </table>
        <Modal
                v-on:close="show_modal= false"
                :showing="show_modal"
        >
            <a>ID : {{selected_game}}</a>
            <p>
                This game is private and requires a password
            </p>

            <error-message :show="errors.has('password')" :message="errors.first('password')"/>

            <vue-button
                    text="Join Game"
                    v-on:click="joinGame()"
            />
        </Modal>
    </div>
</template>
<script>
    import VueButton from './widgets/base-components/VueButton'
    import VueSwitch from './widgets/form-components/VueSwitch'
    import VueSelect from './widgets/form-components/VueSelect'
    import ErrorMessage from './widgets/form-components/ErrorMessage'
    import axios from 'axios'
    import Modal from './widgets/Modal'

    export default {
        name: 'GameSearch',
        components: {
            Modal,
            'vue-button': VueButton,
            'vue-switch': VueSwitch,
            'vue-select': VueSelect,
            'error-message': ErrorMessage,
        },
        data: function () {
            return {
                show_modal: false,
                selected_game: null,
                games: [],
                password: '',
                filters: {
                    name: '',
                    private: false,
                    only_open: false,
                    player_count: 0,
                },
                player_count_select: {
                    options: [
                        'Min player count',
                        1,
                        2,
                        3,
                        4,
                        5,
                        6,
                        7,
                        8,
                        9,
                        10
                    ]
                }
            }
        },
        watch: {
            filters: {
                handler(filters) {
                    this.filterGames(filters)
                },
                deep: true
            }
        },
        mounted() {
            this.filterGames()
        },
        methods: {
            filterGames(filters) {
                let self = this

                axios.get('http://localhost:4000/games', {params: filters})
                    .then(function (response) {
                        self.games = response.data.data.games
                    })
            },
            selectGame(game) {
                console.log(123)
                this.selected_game = game
                game.private
                ? (this.show_modal = true)
                : this.joinGame()
            },
            joinGame() {
                let self = this

                axios.post('http://localhost:4000/games/join/' + this.selected_game.id,
                    {
                        game: {
                            id: this.selected_game.id,
                            password: this.password,
                        },
                        user: {
                            id: localStorage.getItem('userId'),
                            secret: localStorage.getItem('secret')
                        }
                    })
                    .then(function () {
                        localStorage.setItem('gameId', self.selected_game.id)
                        self.$router.go()
                    })
                    .catch(function (error) {
                        error.data.data.user && self.$router.go()
                        // response.data.data.fields.password
                        error.data.data.game && (self.selected_game.player_count_select = self.selected_game.game.max_players)
                        error.data.data.password && self.errors.add(error.response.data.data.errors)
                    })
            }
        }
    }
</script>