<template>
    <div id="app">
        <div
                v-if="$route.name !== 'Register'"
                class="h-20 w-full flex justify-center items-center"
        >
            <span class="text-2xl p-1 bg-black text-white shadow-lg">Cards Against Humanity&trade;</span>
        </div>
        <router-view/>
    </div>
</template>
